{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username}}</h2>
        <p class="text-secondary">This space will house charts and other information</p>
        {% csrf_token %}
        <p>Gender: {{ user.userregdemographics.gender }}</p>
        <p>Age: {{ user.userregdemographics.age }}</p>
        <p>Weight: {{ user.userregdemographics.my_weight }}</p>
        <p>Location: {{ user.userregdemographics.location }}</p>
      </div>
    </div>
    <p>{{ user.username}} Food Allergies are listed below</p>
    <ul>
    <li>{{ user.foodallergy.allergy1 }}</li>
    <li>{{ user.foodallergy.allergy2 }}</li>
    <li>{{ user.foodallergy.allergy3 }}</li>
    <li>{{ user.foodallergy.allergy4 }}</li>
    <li>{{ user.foodallergy.allergy5 }}</li>
    </ul>
    <p>We reccommend visitng your doctor and discussing nutritional strategies</p>
    <h2>Seasonal Allergies</h2>
    <p>The information gathered below provides you and your health provider insights into season allergies</p>
    <p>{{ user.environmental.eallergy1 }} - {{ user.environmental.severity1 }}</p>
    <p>{{ user.environmental.eallergy2 }} - {{ user.environmental.severity2 }}</p>
    <p>{{ user.environmental.eallergy3 }} - {{ user.environmental.severity3 }}</p>
    <p>{{ user.environmental.eallergy4 }} - {{ user.environmental.severity4 }}</p>
    <p>{{ user.environmental.eallergy5 }} - {{ user.environmental.severity5 }}</p>
    </div>
{% endblock content %}
